---
---

// start content
@import "/assets/main.css";

// Variables
$font-stack:      system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", "Segoe UI";
$primary-color:   #184735;
$primary-dark:    #ff0000;
$bg-color:        #f7f7f7;

%section-divider-default {
  border-top:     1px solid #e8e8e8;;
  padding-top:    32px;
  margin-top:     32px;
}

body {
  background-color: $bg-color;
  font-family:   $font-stack;
}

h1 {
  color: $primary-color;
}

h2 {
  color: $primary-color;
}

h2.post-list-heading {
  @extend %section-divider-default;
}

.post-list h3 {
  margin-bottom: 4px;
}

pre, code {
  border-color: #ddd;
  background-color: #eee;
}

.post-meta {
  font-variant: small-caps;
}

#disqus_thread {
  @extend %section-divider-default;
  margin-top: 64px;
}

.post-meta::before {
  content: "— ";
}

a {
  color: #2a7ae2;
}

a:visited {
  color: #1756a9;
}

a:hover {
  color: #2a7ae2;
  text-decoration: underline;
}

nav.site-nav a.page-link {
  color: $primary-color;
}

figcaption {
  color: $primary-color;
  text-align: center;
  padding: 4px;
}

.profile-image {
  float: right;
  margin: 0 0 32px 32px;
  width: 40%;
}

.site-title, .site-title:visited {
  color: #555;
}