---
---
// start content
@import "/assets/main.css";

// Variables
$primary-color:   #184735;
$secondary-color: #555555;
$bg-color:        #f7f7f7;
$link-color:      #2a7ae2;
$font-stack:      system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif;
$type-size-factor:1.618;
$grid-scale:      8px;

/* Nesting (use carefully, avoiding unwanted specificity) */
/* Mixins: browser prefixes */

%section-divider-default {
  border-top:     1px solid rgba(invert($bg-color), .1);
  padding-top:    4 * $grid-scale;
  margin-top:     4 * $grid-scale;
}

body {
  background-color: $bg-color;
  font-family:   $font-stack;
}

h1, h2 {
  color: $primary-color;
}

h2.post-list-heading {
  @extend %section-divider-default;
}

.post-list h3 {
  margin-bottom: .5 * $grid-scale;
}

pre, code {
  border-color: rgba($primary-color, 0.2);
  background-color: rgba($primary-color, 0.1);
}

.post-meta {
  font-variant: small-caps;
}

#disqus_thread {
  @extend %section-divider-default;
  margin-top: 8 * $grid-scale;
}

.post-meta::before {
  content: "— ";
}

a {
  color: $link-color;

  &:visited {
    color: darken($link-color, 15%)
  }

  &:hover {
    color: $link-color;
    text-decoration: underline;
  }
}

nav.site-nav a.page-link {
  color: $primary-color;
}

figcaption {
  color: $primary-color;
  text-align: center;
  padding: .5 * $grid-scale;
}

.profile-image {
  float: right;
  margin: 0 0 4*$grid-scale 4*$grid-scale;
  width: 40%;
}

.site-title, .site-title:visited {
  color: $secondary-color;
}
